@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-dm-sans: var(--font-dm-sans);
  --font-lato: var(--font-lato);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-dm-sans: var(--font-dm-sans);
  --font-lato: var(--font-lato);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: white;
  color: #051625;
  font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

/* Custom font utilities */
.font-dm-sans {
  font-family: var(--font-dm-sans);
}

.font-lato {
  font-family: var(--font-lato);
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  overflow: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}